body {
  margin: 0;
  overflow: hidden;
}

.centered {
  justify-content: center;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

.info {
  width: fit-content;
  position: fixed;
  bottom: 5%;
  font-size: 1.5em;
  color: white;

  background-color: rgba(0, 0, 0, 0.4);
}

#map {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 30%;
  opacity: 0.8;
  border-radius: 0 0 150px 150px;
  z-index: 9999;
}

#fullScreenButton {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999999;
}

.map-fullscreen {
  height: 100vh !important;
}

.map-initial-position {
  height: 30% !important;
}

.hidden {
  display: none;
}
